extends ../../layouts/default

block content
	if !user
		#modal-auth(tabindex="-1", role="dialog", aria-labelledby="join", aria-hidden="true").modal-dialog
			.modal-content
				.modal-dialog
					+auth-forms({ modal: true, initial: 'join' })

block js
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-116421007-1', {
			'page_title' : 'joinpage',
			'page_path': '/join'
		});
	
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
