doctype html
html(lang="en")
  head
  body
    h1 Hi there! Namaste! :)
    p Hope you are doing great today!
    p I have updated my blog with new music I love!! :). (Hint-Bhajan)
    a(href="http://www.mohitkingra.com/blog/music") Checkout here!
    p Cheers!
    p Mohit Kingra
