doctype html
html(lang="en")
  head
  body
    h1 Hi there!
    p Hope you are doing great today! 
    p You are now subscribed to my a(href="http://mohitkingra.com/blog") Blog! 
    p Thank you and Cheers! :). I will keep you updated with my latest posts! 
    p If you have any suggestion, feedback or recommendation...
    p Feel free to reach out at a(href="http://www.mohitkingra.com/contact") Get in Touch!
    p Best,
    p Mohit Kingra
