doctype html
html(lang="en")
  head
  body
    h1 Hi there!
    p Hope you are doing great today! 
    p You are now successfully subscribed to my blog! Thank you and Cheers! :). 
    p Also, You can share your comments on my blog posts with your new account!
    p If you have any suggestion, feedback or recommendation...
    p Feel free to reach out below: 
    a(href="http://www.mohitkingra.com/contact") Get in Touch!
    p Best,
    p Mohit Kingra
