doctype html
html(lang="en")
  head
  body
    h1 Hi there!
    p Hope you are doing great today!
    p I have updated my blog with new video!! :).
    a(href="http://www.mohitkingra.com/blog/video") Checkout here!
    p Cheers!
    p Mohit Kingra